:root{
    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);

    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue:hsl(223, 47%, 23%);
}
*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
    background-image: url('images/pattern-background-desktop.svg');
    font-family: 'Red Hat Display', sans-serif;
    color: var(--Desaturated-blue);
    font-size: 16px;
}
.card{
    width: 450px;
    background-color: var(--Very-pale-blue);
    border-radius: 20px;
    overflow: hidden;
    margin: 50px auto;

}
.container{
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 18px;
}
.container > *{
    margin: 13px 0;
}
.title{
    color: var(--Dark-blue);
    font-weight: 800;
    font-size: 30px;
}
.hero-image{
    width: 100%;
}
.paragraph{
    line-height: 25px;
}
button{
    cursor: pointer;
    width: 100%;
    font-size: 15px;
    border: none;
    font-weight: 700;
    border-radius: 12px;

}
.btn{
    background-color: var(--Bright-blue);
    padding: 16px 0;
    color: var(--Pale-blue);
    box-shadow: 0px 8px 15px rgba(114, 101, 125, 0.5);
}
.btn:hover{
    opacity: 0.8;
}
.cancel{
    background-color: var(--Very-pale-blue);
    color: var(--Desaturated-blue);
    margin-top: 20px;
}
.cancel:hover{
    color: black;
}
.plan{
    font-size: 16px;
    background-color: var(--pale-blue);
    padding: 23px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
.plan a{
    color: var(--Bright-blue);
    font-size: 13px;
    font-weight: 700;

}
.plan a:hover{
    opacity: 0.8;
    text-decoration: none;
}
.plan strong{
    color: var(--Dark-blue);
}
.plan-contain{
    line-height: 20px;
    margin-right: 75px;
}